In [1]:
import pickle
import pandas as pd

with open("data_dict.pkl", "rb") as f:
    data = pickle.load(f)

In [51]:
sp2 = pd.read_csv("splits/s1_1.csv")

In [53]:
sp2 = sp2.drop("Unnamed: 0", axis=1)

In [54]:
sp2.rename(columns={"protein_length": "length"}, inplace=True)
sp2

        uniprot_id  length            uniref_id  split
0       A0A009IHW8     269  UniRef50_A0A009IHW8  train
1       A0A067XGX8     512  UniRef50_A0A067XH53  train
2       A0A067XH53     533  UniRef50_A0A067XH53  train
3       A0A068BGA5     456  UniRef50_A0A068BGA5   test
4       A0A072VHJ1     481  UniRef50_A0A072VHJ1  train
...            ...     ...                  ...    ...
257162      Q9ZWB3     471      UniRef50_Q9ZWB3  train
257163      S3DQP8     358      UniRef50_S3DQP8  train
257164      V6F510     297      UniRef50_V6F510   test
257165      W6KHH6     293      UniRef50_W6KHH6   test
257166      W6Q4Q9     342      UniRef50_W6Q4Q9  train

[257167 rows x 4 columns]

In [55]:
sp2.to_csv("splits/pika_evogroup_split.csv", index=False)

In [59]:
from tqdm import tqdm
x = set(sp2.uniprot_id.to_list())
for i in tqdm(sp.uniprot_id):
    assert i in x

100%|██████████| 257167/257167 [00:00<00:00, 2360156.97it/s]

In [60]:
sp

        uniprot_id  length            uniref_id  split
0       A0A009IHW8     269  UniRef50_A0A009IHW8  train
1       A0A067XGX8     512  UniRef50_A0A067XH53  train
2       A0A067XH53     533  UniRef50_A0A067XH53  train
3       A0A068BGA5     456  UniRef50_A0A068BGA5  train
4       A0A072VHJ1     481  UniRef50_A0A072VHJ1  train
...            ...     ...                  ...    ...
257162      Q9ZWB3     471      UniRef50_Q9ZWB3  train
257163      S3DQP8     358      UniRef50_S3DQP8  train
257164      V6F510     297      UniRef50_V6F510   test
257165      W6KHH6     293      UniRef50_W6KHH6  train
257166      W6Q4Q9     342      UniRef50_W6Q4Q9  train

[257167 rows x 4 columns]

In [61]:
sp2

        uniprot_id  length            uniref_id  split
0       A0A009IHW8     269  UniRef50_A0A009IHW8  train
1       A0A067XGX8     512  UniRef50_A0A067XH53  train
2       A0A067XH53     533  UniRef50_A0A067XH53  train
3       A0A068BGA5     456  UniRef50_A0A068BGA5   test
4       A0A072VHJ1     481  UniRef50_A0A072VHJ1  train
...            ...     ...                  ...    ...
257162      Q9ZWB3     471      UniRef50_Q9ZWB3  train
257163      S3DQP8     358      UniRef50_S3DQP8  train
257164      V6F510     297      UniRef50_V6F510   test
257165      W6KHH6     293      UniRef50_W6KHH6   test
257166      W6Q4Q9     342      UniRef50_W6Q4Q9  train

[257167 rows x 4 columns]

In [3]:
next(iter(data.items()))

('A0A009IHW8',
 {'uniref_id': 'UniRef50_A0A009IHW8',
  'sequence': 'MSLEQKKGADIISKILQIQNSIGKTTSPSTLKTKLSEISRKEQENARIQSKLSDLQKKKIDIDNKLLKEKQNLIKEEILERKKLEVLTKKQQKDEIEHQKKLKREIDAIKASTQYITDVSISSYNNTIPETEPEYDLFISHASEDKEDFVRPLAETLQQLGVNVWYDEFTLKVGDSLRQKIDSGLRNSKYGTVVLSTDFIKKDWTNYELDGLVAREMNGHKMILPIWHKITKNDVLDYSPNLADKVALNTSVNSIEEIAHQLADVILNR',
  'fields': ["catalytic activity: NAD(+) = 2'cADPR + H(+) + nicotinamide, H2O + NAD(+) = ADP-D-ribose + H(+) + nicotinamide, EC = 3.2.2.6, H2O + NADP(+) = ADP-D-ribose 2'-phosphate + H(+) + nicotinamide",
   'subunit: In the presence of NAD(+) analog 8-amino-isoquinoline adenine dinucleotide (3AD) forms filaments with 3AD between monomers; conformational changes occur upon 3AD binding., Homodimer',
   'functional domains: NAD+ nucleosidase activity, Toll/interleukin-1 receptor homology (TIR) domain, NAD(P)+ nucleosidase activity, Toll/Interleukin receptor TIR domain, NAD+ nucleotidase, cyclic ADP-ribose generating',
   'taxonomy: Bacteria, Pseudomonadota, Gammaproteobacteria',
   'protein size: 269 aa, 30922 KDa'],
  'summary': ['The protein is a homodimeric enzyme with a size of 269 amino acids and a molecular weight of 30922 KDa',
   'It belongs to the bacteria group, specifically in the Pseudomonadota phylum within the Gammaproteobacteria class',
   'The protein exhibits catalytic activity, specifically NAD(+) nucleosidase activity, NAD(P)(+) nucleosidase activity, and cyclic ADP-ribose generating activity',
   "It catalyzes the conversion of NAD(+) into 2'-cADPR, H(+), and nicotinamide, as well as the hydrolysis of NAD(+) and NADP(+) to produce ADP-D-ribose, H(+), and nicotinamide",
   'The protein is composed of functional domains such as the Toll/interleukin-1 receptor homology (TIR) domain',
   'In the presence of the NAD(+) analog 8-amino-isoquinoline adenine dinucleotide (3AD), the protein forms filaments with 3AD between monomers, leading to conformational changes upon 3AD binding.'],
  'qa': ['What is the molecular weight of the protein? The protein has a molecular weight of 30922 KDa.',
   'What is the catalytic activity of the protein? The protein exhibits NAD(+) nucleosidase activity, NAD(P)(+) nucleosidase activity, and cyclic ADP-ribose generating activity.',
   'What is the size of the protein in terms of amino acids? The protein consists of 269 amino acids.',
   'Which phylum does the protein belong to? The protein belongs to the Pseudomonadota phylum.',
   'What domains can be found in the protein? The protein contains a Toll/interleukin-1 receptor homology (TIR) domain.',
   'What class does the protein belong to? The protein is classified in the Gammaproteobacteria class.',
   'What is the subunit composition of the protein? The protein is a homodimer.',
   'What is the taxonomy of the protein? The protein is classified as Bacteria, specifically in the Pseudomonadota group within the Gammaproteobacteria class.',
   "What reactions can the protein catalyze? The protein can convert NAD(+) into 2'-cADPR, H(+), and nicotinamide, as well as hydrolyze NAD(+) and NADP(+) to produce ADP-D-ribose, H(+), and nicotinamide.",
   'How does the presence of 8-amino-isoquinoline adenine dinucleotide (3AD) affect the protein? In the presence of 3AD, the protein forms filaments with 3AD between monomers and undergoes conformational changes upon 3AD binding.',
   'Is this protein an enzyme? Yes'],
  'metrics': {'in_membrane': False,
   'in_nucleus': False,
   'in_mitochondria': False,
   'DNA_binding': False,
   'RNA_binding': False,
   'nucleic_acid_binding': False,
   'is_enzyme': True,
   'length': 269,
   'mw': 30922}})

In [7]:
meta, annot, metric = [], [], []
for k, d in data.items():
    meta.append([k, d['uniref_id'], d['fields'][-2].split(":")[-1].strip(), d['sequence'], len(d['sequence']), d['metrics']['mw'], len(d['fields']), len(d['summary']), len(d['qa'])])
    for t in ['fields', 'summary', 'qa']:
        for _f in d[t]:
            annot.append([k, t, _f])
    for m, v in d['metrics'].items():
        if m != 'length' and 'binding' not in m:
            metric.append([k, m, v])

In [13]:
meta[:2]

[['A0A009IHW8',
  'UniRef50_A0A009IHW8',
  'Bacteria, Pseudomonadota, Gammaproteobacteria',
  'MSLEQKKGADIISKILQIQNSIGKTTSPSTLKTKLSEISRKEQENARIQSKLSDLQKKKIDIDNKLLKEKQNLIKEEILERKKLEVLTKKQQKDEIEHQKKLKREIDAIKASTQYITDVSISSYNNTIPETEPEYDLFISHASEDKEDFVRPLAETLQQLGVNVWYDEFTLKVGDSLRQKIDSGLRNSKYGTVVLSTDFIKKDWTNYELDGLVAREMNGHKMILPIWHKITKNDVLDYSPNLADKVALNTSVNSIEEIAHQLADVILNR',
  269,
  30922,
  5,
  6,
  11],
 ['A0A067XGX8',
  'UniRef50_A0A067XH53',
  'Eukaryota, Viridiplantae, Streptophyta',
  'MALTATATTRGGSALPNSCLQTPKFQSLQKPTFISSFPTNKKTKPRTKHISAVQSPPSTTKWNLESWKTKPAFQLPDYPDKVELESVLKTLSTYPPIVFAGEARNLEEKLGEAALGNAFLLQGGDCAESFKEFSANNIRDTFRVMLQMGVVLMFGGQMPVIKVGRMAGQFAKPRSDPFEEKDGVKLPSYRGDNVNGDAFDEKSRIPDPHRMVRAYTQSVATLNLLRAFASGGYAAMQRVNQWNLDFTDQSEQGDRYRELAHRVDEAMGFMTAAGLTVDHTIMTTTDFWTSHECLLLPYEQALTREDSTSGLYYDCSAHMIWVGERTRQLDGAHVEFLRGIANPLGIKVSHKMDPDELVKLIDILNPQNKPGRITVITRMGADNMRVKLPHLIRAVRGAGQIVTWVSDPMHGNTTKAPCGLKTRSFDSIRAELRAFFDVHEQEGSYPGGVHLEMTGQNVTECVGGSRTITYNDLSSRYHTHCDPRLNASQALELAFAIAERLRRRRLGPKFSL',
  512,
  57062,
  7,
  5,
  8]]

In [14]:
s_df = pd.DataFrame(meta, columns=["uniprot_id", "uniref_cluster", "taxonomy", "sequence", "length", "mw", "num_fields", "num_summary", "num_qa"])
a_df = pd.DataFrame(annot, columns=["uniprot_id", "type", "annotation"])
m_df = pd.DataFrame(metric, columns=["uniprot_id", "metric", "value"])
m_df = m_df[m_df['value'].map(lambda x: "here" not in str(x))]

In [44]:
s_df.to_csv("dataset/pika_sequences.csv", index=False)
a_df.to_csv("dataset/pika_annotations.csv", index=False)
m_df.to_csv("dataset/pika_metrics.csv", index=False)

In [40]:
s_df.rename(columns={"id": "uniprot_id"}, inplace=True)
a_df.rename(columns={"id": "uniprot_id"}, inplace=True)
m_df.rename(columns={"id": "uniprot_id"}, inplace=True)
m_df

/var/folders/nv/z1jxx0450bl2tkfsvqfvmzz00000gn/T/ipykernel_96546/2396993662.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_df.rename(columns={"id": "uniprot_id"}, inplace=True)

         uniprot_id           metric   value
0        A0A009IHW8      in_membrane   False
1        A0A009IHW8       in_nucleus   False
2        A0A009IHW8  in_mitochondria   False
3        A0A009IHW8        is_enzyme    True
4        A0A009IHW8               mw   30922
...             ...              ...     ...
1432708      W6Q4Q9       in_nucleus   False
1432709      W6Q4Q9  in_mitochondria   False
1432710      W6Q4Q9        is_enzyme    True
1432711      W6Q4Q9         cofactor  mg(2+)
1432712      W6Q4Q9               mw   39192

[1432683 rows x 3 columns]

In [45]:
ss = pd.read_csv("../assets/sample_split.csv")
ss

   uniprot_id  protein_length  split
0  A0A009IHW8             269  train
1  A0A067XGX8             512  train
2  A0A067XH53             533    val
3  A0A068BGA5             456   test
4  A0A072VHJ1             481  train
5  A0A073CEA3             202    val
6  A0A075TMP8             526   test
7  A0A075TR41             326   test
8  A0A075TRL5             524    val
9  A0A084R1H6            2435  train

In [46]:
ss_df = s_df[s_df.uniprot_id.isin(ss.uniprot_id)]
sm_df = m_df[m_df.uniprot_id.isin(ss.uniprot_id)]
sa_df = a_df[a_df.uniprot_id.isin(ss.uniprot_id)]

In [50]:
ss_df.to_csv("../assets/sample_sequences.csv", index=False)
sa_df.to_csv("../assets/sample_annotations.csv", index=False)
sm_df.to_csv("../assets/sample_metrics.csv", index=False)